<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title>Total Tickets</title>
  </head>
  <body>
    <div class="container">
      <h1>Ticket details</h1>
      <p>OIB: <%= OIB %></p>
      <p>First Name: <%= firstName %></p>
      <p>Last Name: <%= lastName %></p>
      <p>Generated At: <%= createdAt %></p>
      <br>
      <p>Currently logged in: <%= user %></p>
    </div>
  </body>
</html>
